<div class="cityListField">
  <div *ngIf="cityList.length">
    <h6>Выберите город</h6>
    <!--<select [(ngModel)]="selectedCity"
            (ngModelChange)="onSelectCity($event)"
    >
      <option *ngFor="let city of cityList" [ngValue]="city">
        {{city.name}}
      </option>
    </select>-->

    <a href="#" *ngFor="let city of cityList"
       (click)="onSelectCity(city)"
       [class.active]="selectedCity && city.cityID == selectedCity.cityID"
    >
      {{city.name}}
    </a>
  </div>

  <h4 *ngIf="!cityList.length">
    {{textEmptyCityList}}
  </h4>
</div>

